@model Wardrobe.Models.WardrobeItem

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-default thedeets2">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 detailsPic">
                    <img src="@Html.DisplayFor(model => model.Image)" />
                </div>
                <div class="col-md-4">
                    <h2 class="blueDeets">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>
                    <h2 class="pinkDeets">@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h2>
                    <h2 class="yellowDeets">@Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => model.Color.Color1)</h2>
                    <h2 class="greenDeets">Item Type: @Html.DisplayFor(model => model.Itemtype.ItemType1)</h2>
                    <h2 class="blueDeets">@Html.DisplayNameFor(model => model.Occasion): @Html.DisplayFor(model => model.Occasion.Occasion1)</h2>
                    <h2 class="pinkDeets">@Html.DisplayNameFor(model => model.Season): @Html.DisplayFor(model => model.Season.Season1)</h2>
                    <p class="yellowDeets">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.WardrobeItemID })
                        
                            @Html.ActionLink("Full Inventory", "Index", null, new { id = "sentId", style = "color:#00ff00" })
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
